body {
	margin: 0;

	font-family: 'Bodoni Moda', serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: 'Bodoni Moda', serif;
}

.home-image {
	width: 100%;
	height: 40%;
}

.website-theme {
	background: #fafcf8;
}
